{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container shadow my-5" style="background-color: #121212; border: 2px white; border-radius: 10px; padding: 20px; width: 100%; margin: 0 auto;">
    <div class="text-center" style="color: white;">
        <h1 class="mb-4">Pengelola Keuangan</h1>
    </div>
    
    <div class="card shadow" style="width: 50%; height: 50%; margin: 0 auto; padding: 1rem; color: white; background-color: #222222;">
        <div class="text-center" style="padding-bottom: 20px;">
            <h4>Saldo Anda</h4>
            <h1 id="balance" class="display-4">Rp. 0,00</h1>
        </div>

        <div class="row">
            <div class="text-center" style="width: 50%; margin: 0 auto;">
                <h4>Pendapatan</h4>
                <p id="money-plus" class="money plus text-success">+\Rp. 0,00</p>
            </div>
            <div class="text-center" style="width: 50%; margin: 0 auto;">
                <h4>Pengeluaran</h4>
                <p id="money-minus" class="money minus text-danger">-\Rp. 0,00</p>
            </div>
        </div>
    </div>

    <div class="text-center mb-4" style="padding-top: 5%;">
        <a href="{% url 'main:show_detail' %}" class="btn btn-primary">
            Detail
        </a>
        <a href="{% url 'main:create_item' %}" class="btn btn-secondary mx-2">
            Tambah Transaksi Baru
        </a>
        <a href="{% url 'main:logout' %}" class="btn btn-danger">
            Logout
        </a>
    </div>

    <div class="text-center" style="color: white;">
        <h5>Sesi terakhir login: {{ last_login }}</h5>
        <p>{{ name }} - {{ class }}</p>
    </div>

</div>

{% endblock content %}
