{% extends 'base.html' %}

{% block content %}
<h2>Pelacak Keuangan</h2>

<div class="container">
    <h4>Saldo Anda</h4>
    <h1 id="balance">Rp. 0,00</h1>
    <div class="inc-exp-container">
    <div>
        <h4>Pendapatan</h4>
        <p id="money-plus" class="money plus">+\Rp. 0,00</p>
    </div>
    <div>
        <h4>Pengeluaran</h4>
        <p id="money-minus" class="money minus">-\Rp. 0,00</p>
    </div>
    </div>
    
    <a href="{% url 'main:show_detail' %}">
    <button class="btn">Detail</button>
    </a>
    
    <br />
    
    <a href="{% url 'main:create_item' %}">
        <button>
            Tambah Transaksi Baru
        </button>
    </a>
</div>

<h5> {{ name }} - {{ class }} </h5>

{% endblock content %}

<!-- source: www.phind.com -->