{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <div class="text-center mb-4">
        <h1>Detail Transaksi</h1>
    </div>
    
    <table class="table table-hover table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Nama</th>
                <th>Jumlah</th>
                <th>Harga</th>
                <th>Deskripsi</th>
                <th>Tanggal Ditambahkan</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.date_added}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-center mt-5">
        <a href="{% url 'main:show_main' %}" class="btn btn-secondary">Kembali</a>
    </div>
</div>
{% endblock %}
